.root {
    -fx-background-color: #1E1E1E;
}

.footer {
    -fx-background-color: #282828;
}

.label {
    -fx-text-fill: #ADADAD;
}

.slider .track {
    -fx-background-color: #000000;
}

.btn-transparent {
    -fx-background-color: transparent;
    -fx-border-color: #ADADAD;
    -fx-text-fill: #ADADAD;
}

.side-bar {
    -fx-background-color: #333333;
}

.table-view {
    -fx-base: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.table-view .table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-view .table-row-cell {
    -fx-background-color: #181818;
    -fx-table-cell-border-color: transparent;
    -fx-cell-size: 40px;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #333333; 
    -fx-faint-focus-color: transparent;
 }

.table-view .table-row-cell .text {
    -fx-fill: #ADADAD;
    -fx-font-size: 14px;
}