.root {
    -fx-background-color: #1E1E1E;
}

.header {
    -fx-background-color: #1E1E1E;
}

.footer {
    -fx-background-color: #1E1E1E;
}

.label {
    -fx-text-fill: #ADADAD;
}

.slider .thumb {
    -fx-background-color: #333333;
}

.slider .track {
    -fx-background-color: #333333;
}

.button {
    -fx-background-color: #333333;
    -fx-text-fill: #A7A7A7;
    -fx-border-radius: 15;
    -fx-font-size: 14px;
}

.btn-danger {
    -fx-background-color: #C94046;
    -fx-text-fill: white;
}

.btn-rounded {
    -fx-background-radius: 30;
}

.side-bar {
    -fx-background-color: #181818;
}

.playbackControls {
    -fx-background-color: #121212;
}

.text-field {
    -fx-background-color: #A7A7A7;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #555555;
    -fx-font-size: 16px;
}

.lbl-large {
    -fx-font-size: 16px;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #333333;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-button .context-menu {
    -fx-background-color: transparent;
}

.menu-button .menu-item {
    -fx-width: 200px;
}

.menu-button .menu-item:hover {
    -fx-background-color: #116AF8;
}

/*
source for table styling code base - https://stackoverflow.com/questions/33938811/styling-a-tableview-in-css-javafx
*/

.table-view{
   -fx-background-color: transparent;
   -fx-border-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #181818;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #A7A7A7;
    -fx-alignment: center-left;
}

.table-view .table-column {
    -fx-alignment: center-left;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #A7A7A7;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #1E1E1E;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: #2B2B2B;
}

.table-row-cell:hover{
    -fx-background-color: #333333;
}

.table-row-cell:selected {
    -fx-background-color: #333333;
}

.table-row-cell:empty:odd, .table-row-cell:empty:even {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/*
* Remove dropdown caret from menu button
*/

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.menu-button .menu-item {
    -fx-border-color: transparent;
    -fx-background-color: #333333;
    -fx-pref-width: 300px;
    -fx-font-size: 14px;
}

.menu-button .menu-item:hover {
    -fx-background-color: #282828;
}

.menu-button .separator *.line {
  -fx-border-color: #333333;
  -fx-border-width: 1 0 0 0 ;
}

