.root {
    -fx-background-color: #1E1E1E;
}

.footer {
    -fx-background-color: #1E1E1E;
}

.label {
    -fx-text-fill: #ADADAD;
}

.slider .track {
    -fx-background-color: #1E1E1E;
}

.button {
    -fx-background-color: #333333;
    -fx-text-fill: #A7A7A7;
    -fx-border-radius: 15;
    -fx-font-size: 14px;
}

.btn-danger {
    -fx-background-color: #C94046;
    -fx-text-fill: white;
}

.btn-rounded {
    -fx-background-radius: 30;
}

.side-bar {
    -fx-background-color: #333333;
}

.table-view {
    -fx-base: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.table-view .table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-view .table-row-cell {
    -fx-background-color: #1E1E1E;
    -fx-table-cell-border-color: transparent;
    -fx-cell-size: 40px;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #333333; 
    -fx-faint-focus-color: transparent;
 }

.table-view .table-row-cell .text {
    -fx-fill: #ADADAD;
    -fx-font-size: 14px;
}

.playbackControls {
    -fx-background-color: #282828;
}

.text-field {
    -fx-background-color: #333333;
    -fx-text-fill: #A7A7A7;
    -fx-font-size: 16px;
}

.lbl-large {
    -fx-font-size: 16px;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #333333;
}